body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

.navbar {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #111;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hero, .dashboard, .about, .projects {
  padding: 30px;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.stats {
  display: flex;
  gap: 10px;
}

.box {
  background: #222;
  padding: 10px;
  border-radius: 8px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}